* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

/* Header styles */

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.search-form {
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}
.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.auth {
  margin-left: auto;
}
.shopping-cart {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #f66a15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  position: relative;
}
.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #ffaf19;
  color: #000000;
  font-size: 8px;
  line-height: 9px;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 50%;
}

/* Slider styles */

.slide {
  border-radius: 20px;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 100px;
  position: relative;
}
.slide::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}
.slide-text-light {
  background-color: grey;
  color: #ffffff;
}
.slide-summer {
  background-image: url(../img/summer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-autumn {
  background-image: url(../img/autumn.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-vitamin {
  background-image: url(../img/vitamin.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-content {
  max-width: 500px;
  position: relative;
}
.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  max-width: 410px;
}
.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.slider-button {
  cursor: pointer;
}
.swiper {
  position: relative;
}

/* Buttons styles */

.button {
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding: 12px 50px;
  text-decoration: none;
  cursor: pointer;
}
.button-primary {
  background: #f47322;
  color: #ffffff;
}
.button-default {
  background: #ffffff;
  color: #5f5f61;
}
.button-outline {
  background-color: transparent;
  border: 2px solid #f37321;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  padding: 15px 25px;
}
.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

/* Promo styles */

.promo {
  padding-top: 50px;
  /* padding-bottom: 50px; */
  display: flex;
  justify-content: space-between;
  margin: -20px;
}
.card {
  flex: 50%;
  margin: 20px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light {
  color: #ffffff;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card-description {
  max-width: 168px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}
.card-delivery {
  display: block;
  margin-top: 8px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
/* .sweet-basket {
  background-image: url(../img/sweet-basket.png);
  background-repeat: no-repeat;
  background-size: cover;
} */
.card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

/* delivery-week styles */
.delivery-week {
  padding: 110px 0;
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.delivery-card {
  margin: 15px;
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}
.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 5px 10px;
}
.tag-health {
  color: #49494f;
  background-color: #d0fd89;
}
.tag-vegetables {
  color: #ffffff;
  background-color: #aebc41;
}
.tag-meat {
  color: #ffffff;
  background-color: #b86b78;
}
.tag-chickens {
  color: #ffffff;
  background-color: #d68334;
}
.tag-fish {
  color: #ffffff;
  background-color: #cd6255;
}
.tag-children {
  color: #49494f;
  background-color: #fffdbf;
}
.tag-parents {
  color: #49494f;
  background-color: #f6fdc8;
}
.tag-holiday {
  color: #49494f;
  background-color: #fef7fe;
}

/* section-grey styles */

.section-grey {
  background-color: #f6f6f6;
}
.category {
  padding-top: 40px;
  padding-bottom: 60px;
}
.tabs {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
}
.tabs-link {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #49494f;
  margin-right: 58px;
}
.tabs-link.active {
  color: #f37321;
}
.tabs-content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: -15px;
}
.tabs-card {
  flex: 25%;
  margin: 15px;
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tabs-image {
  max-width: 100%;
}
.tabs-card-content {
  margin: 23px;
}
.tabs-title {
  padding-top: 0;
  padding-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}
.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  display: block;
  margin-bottom: 5px;
}
.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

/* benefits styles */

.benefits {
  padding: 100px 0 202px 0;
}
.benefits-title {
  margin-top: 0;
  margin-bottom: 52px;
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.benefits-content {
  max-width: 100%;
  margin: -15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-card {
  margin: 15px;
  flex: 25%;
  max-width: 270px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.benefits-card-content {
  padding-left: 23px;
  padding-right: 27px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits-image {
  margin-top: 30px;
  width: 60px;
  height: 60px;
}
.benefits-card-title {
  margin-top: 34px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}
.benefits-card-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
}

/* footer styles */

.footer {
  padding: 40px 0;
  background-color: #f6f6f6;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-right: 50px;
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link {
  margin-left: 20px;
  text-decoration: none;
}
@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }
  .tabs-content {
    flex-wrap: wrap;
  }
  .tabs-card {
    flex: 50%;
    max-width: calc(50% - 30px);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
  .slide {
    padding: 70px;
  }
  .delivery-card {
    width: calc(50% - 30px);
  }
  .footer-logo {
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .promo {
    flex-wrap: wrap;
  }
  .benefits-content {
    flex-wrap: wrap;
  }
  .benefits-card {
    width: calc(50% - 15px);
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 95%;
  }
  .section-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 27px;
  }
  .slide {
    padding: 36px;
  }
  .slide-title {
    font-size: 36px;
    line-height: 36px;
    max-width: 300px;
  }
  .delivery-card {
    max-width: 100%;
    flex: 100%;
  }
  .tabs-content {
    margin-left: auto;
    margin-right: auto;
  }
  .tabs-card {
    max-width: 100%;
  }
  .benefits-content {
    margin-right: auto;
    margin-left: auto;
  }
  .benefits-card {
    max-width: 100%;
    flex: 100%;
  }
}
